<center> <font size= 7> • ▲ ■ • </font> </center>

<center> <i> Categories </i> </center>

#

Hey Aayush! <br>
Great to see you here! It is great that you have finished the bases of pandas and now here to learn some cool advanced techniques in pandas to accelerate the work.

**What to expect here**:
- Here you will find many topics that are really helpful in the workflow of your analysis
- Expect them to be complex and unseen and not understood at once
- Don't hesitate to refer again and again


I will try to explain in much simpler words, but also will try not to write much because it costs time. But also won't do like not to write anything!

It will be again easy to follow and digest. Come here to find almost anything you need about that topic. <br>
Let's go ∞

#

# Roots of Categorical Datatype

In [1]:
import pandas as pd
import numpy as np

#

<center> <i>"There is a lot of data with a few categories"</i> </center>

In [2]:
df = pd.DataFrame({'what?': ['aaple', 'orange', 'potato'] * 3 + ['jamun'],
                   'weight': np.random.randint(100, 200, (10))})
df

    what?  weight
0   aaple     170
1  orange     131
2  potato     177
3   aaple     114
4  orange     196
5  potato     128
6   aaple     138
7  orange     171
8  potato     145
9   jamun     102

#

Now that is the base table - which we will use again.

#### The main idea
is that, the category does the **mapping** between the real label and the integer. *It is said that indexing with numbers is much faster than working with other datatypes.*<br>

In [22]:
# Doing some mapping
encoded = pd.Series([0, 1, 2, 0, 1, 2, 0, 1, 2, 3])
values = pd.Series(['aaple', 'orange', 'potato', 'jamun'])

In [23]:
encoded

0    0
1    1
2    2
3    0
4    1
5    2
6    0
7    1
8    2
9    3
dtype: int64

In [24]:
values

0     aaple
1    orange
2    potato
3     jamun
dtype: object

#

## → Introducing `.take()`

In [27]:
values.take(encoded).reset_index(drop= True)

0     aaple
1    orange
2    potato
3     aaple
4    orange
5    potato
6     aaple
7    orange
8    potato
9     jamun
dtype: object

Same!

#### Terms:
→ 0,0,1,1,0,2 are called **Dictionary Encoded or Codes**<br>
→ aaple, orange... called **Categories**

#

## Some Advantages right off the bat - are:
* Performance Increase
* Memory usage
* Renaming categories easy
* Categories added / removed easily
* Easy alteration

#

##  → Introduction to `Categorical` datatype

Making categorical datatype is done in some ways:
1. ```python
ser.astype('category')
```
2. ```python
pd.Categorical([])
```
    - ```python
    pd.Categorical.from_codes(codes, categories)
    ```

Let's see them.

#

#### Way 1

In [31]:
categories = df['what?'].astype('category')
categories

0     aaple
1    orange
2    potato
3     aaple
4    orange
5    potato
6     aaple
7    orange
8    potato
9     jamun
Name: what?, dtype: category
Categories (4, object): ['aaple', 'jamun', 'orange', 'potato']

In [37]:
type(categories.values)

pandas.core.arrays.categorical.Categorical

In [40]:
# This won't work
categories.codes

AttributeError: 'Series' object has no attribute 'codes'

##### Why?
Because the 'Categories' variable is not the Categories object, it is series. To use those - we have to use 
```python
categories.cat.codes
```
<br>
or <br>

```python 
categories = categories.values
categories.codes
```

In [41]:
categories.values.codes

array([0, 2, 3, 0, 2, 3, 0, 2, 3, 1], dtype=int8)

In [42]:
categories.cat.codes

0    0
1    2
2    3
3    0
4    2
5    3
6    0
7    2
8    3
9    1
dtype: int8

#

In [43]:
categories.values.categories

Index(['aaple', 'jamun', 'orange', 'potato'], dtype='object')

In [46]:
categories.cat.categories

Index(['aaple', 'jamun', 'orange', 'potato'], dtype='object')

#

#### Way 2

In [47]:
cats = pd.Categorical(['aayush', 'sameer', 'shah'])
cats

['aayush', 'sameer', 'shah']
Categories (3, object): ['aayush', 'sameer', 'shah']

#

#### Way 3

In [52]:
pd.Categorical.from_codes(encoded, values)

['aaple', 'orange', 'potato', 'aaple', 'orange', 'potato', 'aaple', 'orange', 'potato', 'jamun']
Categories (4, object): ['aaple', 'orange', 'potato', 'jamun']

_<br>*If you would have provided like: `from_codes(values, encoded)` then it would have returned the error. Because the VALUES place must have the UNIQUE VALUES.*

#

## → Ordering

In [55]:
pd.Categorical(df['what?'], ordered=True)

['aaple', 'orange', 'potato', 'aaple', 'orange', 'potato', 'aaple', 'orange', 'potato', 'jamun']
Categories (4, object): ['aaple' < 'jamun' < 'orange' < 'potato']

######

Notice that, ↑ to make the ORDERED, we have used the `pd.Categorical` because that has the attribute - ordered. <br> But what if I want to do that with `.astype` ? Which doesn't have the ordered attribute. 

That is done by this ↓

In [61]:
df['what?'].astype('category').values.as_ordered()

['aaple', 'orange', 'potato', 'aaple', 'orange', 'potato', 'aaple', 'orange', 'potato', 'jamun']
Categories (4, object): ['aaple' < 'jamun' < 'orange' < 'potato']

#### Use, `as_ordered`
#### Use, `as_unordered`
*(to do opposite of as_ordered)*

#

**NOTE:** The categorical data need not to be strings, they can be **any immutable** object.

#

##  → Computations in category

" *Using Categorical in pandas compared to non-encoded version like array or lists generally behaves the same way. But some parts of pandas like groupby - performs better when working with categoricals. There are also functions that utilizes the functionality of ordered.* "

#

Trying with `pd.cut` and `pd.qcut`, which returned the categorized data.

In [68]:
ages = np.random.randint(0, 50, 10000)
ages

array([40, 32, 18, ..., 18, 13, 37])

In [73]:
bins = pd.qcut(ages, 4)
bins.value_counts()

(-0.001, 12.0]    2530
(12.0, 25.0]      2538
(25.0, 37.0]      2482
(37.0, 49.0]      2450
dtype: int64

In [74]:
bins

[(37.0, 49.0], (25.0, 37.0], (12.0, 25.0], (12.0, 25.0], (25.0, 37.0], ..., (-0.001, 12.0], (37.0, 49.0], (12.0, 25.0], (12.0, 25.0], (25.0, 37.0]]
Length: 10000
Categories (4, interval[float64]): [(-0.001, 12.0] < (12.0, 25.0] < (25.0, 37.0] < (37.0, 49.0]]

# ENW! Sorry, NEW!
`qcut` means `quartile cut` and that's why each quartile can have same number of observations!

#

In [76]:
bins = pd.qcut(ages, 4, labels= ['Q1', 'Q2', 'Q3', 'Q4'])
bins.value_counts()

Q1    2530
Q2    2538
Q3    2482
Q4    2450
dtype: int64

In [77]:
bins

['Q4', 'Q3', 'Q2', 'Q2', 'Q3', ..., 'Q1', 'Q4', 'Q2', 'Q2', 'Q3']
Length: 10000
Categories (4, object): ['Q1' < 'Q2' < 'Q3' < 'Q4']

####  Some quartile analysis!

In [85]:
pd.Series(ages).groupby(bins).agg(['mean', 'count', 'sum'])

         mean  count     sum
Q1   6.026087   2530   15246
Q2  18.971631   2538   48150
Q3  31.637389   2482   78524
Q4  43.542857   2450  106680

#

## → `set_categories()`

This is different from `add_categories` this will Overwrite the categories which can include, addition - removal - update and replace categories.

#

## → `remove_unwanted_categories()`

There can be some categories which are there but non-used in the data - so with this, we can remove such categories to same a bit more space.

#

# That's it!
Next up we will again get wild on the GroupBy.