<font face= "neuville" style= "font-size: 125px"> 

         T 
       E   I
         M
    
    
</font>

<center>  ∞ It's my time ∞ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </center>

#

# Hello!
Don't feel like it is going to be a class of science...  this notebook will introduce the time in pandas.

#

In [2]:
import pandas as pd
import numpy as np

#

#### In pandas, we will see time in thses ways:
1. *Timestamps* - It is an exact point in time
2. *Timedelta* - Difference between timestamps
3. *Interval* - Indicated by start and end of timestamps
4. *Period* - A special type of Interval
5. *Experiment* - Relative time

Note that: This book doesn't explain the 5th type of time.

#

## → Playing with `datetime` module

In [3]:
from datetime import datetime

In [4]:
# Simple use
datetime.now()

datetime.datetime(2021, 6, 14, 19, 49, 28, 360997)

In [5]:
now = datetime.now()
now.year, now.day, now.month

(2021, 14, 6)

In [6]:
# In which day we are in (our kind - from Monday)
now.weekday()

0

In [7]:
# Starts from sunday
now.isoweekday()

1

#

In [8]:
# Make time
datetime(2020, 2, 22)

datetime.datetime(2020, 2, 22, 0, 0)

In [11]:
# Will give the reasonable error if you provide invalid date
datetime(2020, 2, 30)

ValueError: day is out of range for month

#

In [12]:
# Normal time delta
datetime.now() - datetime(2021, 2, 11)

datetime.timedelta(days=123, seconds=71401, microseconds=749636)

In [13]:
# Details of Delta
delta = datetime.now() - datetime(2021, 2, 11)

In [14]:
delta.days

123

In [15]:
delta.seconds

71401

#

### You can even `import` the timedelta

In [16]:
from datetime import timedelta

## Why?
**Suppose** you want to add some number of days, or some number of minutes ... or to subtract. Here directly it won't let us to do that... we will need `timedelta` object.

In [17]:
now = datetime.now()
now

datetime.datetime(2021, 6, 14, 19, 50, 1, 837478)

See ↓

In [18]:
now - 12

TypeError: unsupported operand type(s) for -: 'datetime.datetime' and 'int'

See ↑

#

In [19]:
delta = timedelta(days = 10)
delta

datetime.timedelta(days=10)

In [20]:
now + delta

datetime.datetime(2021, 6, 24, 19, 50, 1, 837478)

In [21]:
now - delta

datetime.datetime(2021, 6, 4, 19, 50, 1, 837478)

#

## Some `str f/p time`

In [22]:
now.strftime("%y-%b")

'21-Jun'

In [23]:
now.strptime("21-jun", "%y-%b")

datetime.datetime(2021, 6, 1, 0, 0)

**NOTE**: in `strptime` the *p* stands for ***parse***

#

### The small Problem is: 
We need <u>**while doing *strptime* we have to write the format**</u> manually. Which, as author says - is annoying. So, there is a module called "dateutil" - which recognises mostly human redable date and time formats and is capable of converting them in the datetime object

In [24]:
from dateutil.parser import parse

In [25]:
parse('11-6-2021')

datetime.datetime(2021, 11, 6, 0, 0)

In [26]:
parse('11-jun-2021')

datetime.datetime(2021, 6, 11, 0, 0)

In [27]:
parse('11-june-2021')

datetime.datetime(2021, 6, 11, 0, 0)

In [28]:
parse('11/june-2021')

datetime.datetime(2021, 6, 11, 0, 0)

In [29]:
parse('11,june-2021')

datetime.datetime(2021, 6, 11, 0, 0)

In [30]:
parse('11,june-21')

datetime.datetime(2021, 6, 11, 0, 0)

In [31]:
parse('11,june-21 10:10')

datetime.datetime(2021, 6, 11, 10, 10)

In [32]:
parse('11,june-21 10:10 PM')

datetime.datetime(2021, 6, 11, 22, 10)

SO Cool! Don't you think that?

#

# Your - SOLUTION
This is how you can change the format of the date and month... with `dateutil`

In [33]:
# Normally
parse('11-6-2021')

datetime.datetime(2021, 11, 6, 0, 0)

In [34]:
# Our format
parse('11-6-2021', dayfirst= True)

datetime.datetime(2021, 6, 11, 0, 0)

#

## → Coming to pandas

In pandas first function to introduce is: `pd.to_datetime`

In [35]:
times = ['2021-6-11', '2021-6-11 10:34:01']
pd.to_datetime(times)

DatetimeIndex(['2021-06-11 00:00:00', '2021-06-11 10:34:01'], dtype='datetime64[ns]', freq=None)

**Thing to notice:**<br>
&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; When the time in string is formatted in ISO 8601 standard - like shown above, **YOU DON'T NEED TO PROVIDE** the `format` parameter, as pandas already knows the format.

#

In [36]:
# There also is dayfirst = True
pd.to_datetime(times, dayfirst= True)

DatetimeIndex(['2021-06-11 00:00:00', '2021-06-11 10:34:01'], dtype='datetime64[ns]', freq=None)

#

## → Little exploration on Indexing, Slicing

In [37]:
# Creting a data to play with
ser = pd.Series(np.random.randn(1000), index= pd.date_range('1/1/2019', periods= 1000))
ser

2019-01-01   -0.197658
2019-01-02    0.565706
2019-01-03   -0.570623
2019-01-04    0.730575
2019-01-05    0.560520
                ...
2021-09-22   -0.813500
2021-09-23   -0.337935
2021-09-24    1.253994
2021-09-25   -0.845634
2021-09-26   -0.543902
Freq: D, Length: 1000, dtype: float64

**Basically in 3 ways you can pass the dates for indexing/slicing**
1. datetime obj (normal)
2. timestamp obj (pandas)
3. string (normal)

Without showing all of those... we will focus on what is important.

#

### `.truncate()`
This method will allow us to get a chunk of data from the df/series - before or after some INDEX.<br>
*Look, here the term INDEX is used. So it is not related with the datetime index only*

In [38]:
ser.truncate(before= '25/4/2020', after= '26/4/2020')

2020-04-25   -1.910116
2020-04-26    0.520610
Freq: D, dtype: float64

Will basically remove the data before or after given index

#

## → Testing chronological effect on the data

In [39]:
# Simple works - chronologically
ser['25/4/2020':'30/4/2020']

2020-04-25   -1.910116
2020-04-26    0.520610
2020-04-27   -0.667583
2020-04-28   -1.289070
2020-04-29    1.163993
2020-04-30   -1.423778
Freq: D, dtype: float64

In [40]:
# If not chronological...
temp_ser = ser.sample(1000)
temp_ser

2020-03-24   -0.191326
2020-06-12    0.137233
2020-11-07   -0.549787
2019-11-05    0.391275
2020-11-08   -1.715664
                ...
2020-01-15    1.544011
2021-01-20   -0.638435
2021-05-14    0.498203
2020-02-09   -1.249985
2021-07-24   -0.236933
Length: 1000, dtype: float64

Don't worry, the replace is FALSE ↑ so all data is there. Without repetation.

In [41]:
temp_ser['25/4/2020' : '30/4/2020']

2020-04-28   -1.289070
2020-04-27   -0.667583
2020-04-26    0.520610
2020-04-29    1.163993
2020-04-25   -1.910116
2020-04-30   -1.423778
dtype: float64

WOOFh, it gave but, in non real order. But it gave!

#

## You CAN see the date NAME

In [47]:
temp_ser.index[0].day_name()

'Tuesday'

Whow!

#

## → Solving *June 1st* or *6th January* probelm

In [42]:
ser[['1/6/2020']]

2020-01-06    0.030022
dtype: float64

In [43]:
ser[['6/1/2020']]

2020-06-01   -0.392659
dtype: float64

What is correct?

<font style= "font-size:100px"> ↑ NOT SOLVED ↑</font>

#

# That's it!
That are the basics, now we will build a little on the time and make our understanind better on the freqs! They are freqing awsome!