<center> <font style= "font-size: 150px" face= "consolas"> <<b>space</b>> </font> <br> <font style= "font-size: 100px"> in Time </font>

<center> The solution of time management in pandas - <i>offests</i>.  </center>

#

<b><font size=5>T</font></b>his notebook is a go through understanding of offsets from scratch (of course - not the implementation - but the understanding and the HowTo approach)

In [1]:
import pandas as pd
import numpy as np

Frequencies - wait I like to write in italics, *frequencies* in pandas / offests in pandas are composed of 2 elements.

### <center> 1. Base Frequency    &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  2. Multiplier </center>

Example: **'H'** is a base freq and **'4'** is multiplier → **'4H'**

> There is the object defined generally referred as an *offset*

#

<font face= "consolas" size= 5> 

    Multiplier        x        Frequency       = Offest
        ↓                         ↓                 ↓
        4             x           H            =   4H

</font>

#

### From scratch you can create offsets in this way

In [2]:
from pandas.tseries.offsets import Hour, Minute

In [3]:
an_hour = Hour()
an_hour

In [4]:
an_hour = Hour(1)
an_hour

In [5]:
an_hour = Hour(4)
an_hour

#

In [6]:
# Also do this...
Hour(1) + Minute(40)

#

But insted of making offsets like this ↑ we can write easy looking string aliases: <br>

`Hour(4)` can be written as → `4h` and will work the same!

### Using aliases instead "from scratch"

In [8]:
# Result when using string aliases
pd.date_range('14/6/2021', '15/6/2021 6:00', freq= '4H')

DatetimeIndex(['2021-06-14 00:00:00', '2021-06-14 04:00:00',
               '2021-06-14 08:00:00', '2021-06-14 12:00:00',
               '2021-06-14 16:00:00', '2021-06-14 20:00:00',
               '2021-06-15 00:00:00', '2021-06-15 04:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [12]:
# Result when using the objects
pd.date_range('14/6/2021', '15/6/2021 6:00', freq= Hour(4))

DatetimeIndex(['2021-06-14 00:00:00', '2021-06-14 04:00:00',
               '2021-06-14 08:00:00', '2021-06-14 12:00:00',
               '2021-06-14 16:00:00', '2021-06-14 20:00:00',
               '2021-06-15 00:00:00', '2021-06-15 04:00:00'],
              dtype='datetime64[ns]', freq='4H')

#

###  Wondering? How to write...
`Hour(1) + Minute(40)` in the string alias? <br>
Pandas has got you covered!

In [14]:
# Result when using the objects
pd.date_range('15/6/2021', '15/6/2021 6:00', freq= Hour(1) + Minute(40))

DatetimeIndex(['2021-06-15 00:00:00', '2021-06-15 01:40:00',
               '2021-06-15 03:20:00', '2021-06-15 05:00:00'],
              dtype='datetime64[ns]', freq='100T')

In [17]:
# Result when using string aliases               Cool ↓ part
pd.date_range('15/6/2021', '15/6/2021 6:00', freq= '1h40min')

DatetimeIndex(['2021-06-15 00:00:00', '2021-06-15 01:40:00',
               '2021-06-15 03:20:00', '2021-06-15 05:00:00'],
              dtype='datetime64[ns]', freq='100T')

Also focus &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;↑ here

#

Focused? Good. <br>
Try to see that the dtype is '100T' - which is 60 mins + 40 mins. (T stands for Minutes - you can write 80T instead of 80min)

#

**NOTE:** You can also provide `'1d50h30m4s'` kind of stuff. But the months and years is not available in this format. Which makes sense. Instead you should try `'365d50min'` if you want that bro!

And the order is interchangable. You can write **'1h40min'** and **'40min1h'**

#

# Answering My Questions

### Q1. How to get the date ranges starting from THAT date?

In [60]:
pd.date_range('25/4/2021', periods= 12, freq= 'M') + Day(25)

DatetimeIndex(['2021-05-25', '2021-06-25', '2021-07-25', '2021-08-25',
               '2021-09-25', '2021-10-25', '2021-11-25', '2021-12-25',
               '2022-01-25', '2022-02-25', '2022-03-25', '2022-04-25'],
              dtype='datetime64[ns]', freq=None)

That is ↑ the simplest workaround.

**What happened there?** <br>
Basically we need to **start from end** the month so that we can then add our desired date. And then we just added the `Day(25)` and we got the output!

If we would have not started from the end of the month, we would have to do a MINUS 1 from the desired offset ie. 25 - 1 = 24 because the month starts from 1 and that would cause the subtraction of a day. So yeah!

#

### Q2. How to fetch all dates of a 2nd week per month?

In [65]:
weeks = []
for start_date in pd.date_range('6/1/2021', periods= 5, freq= 'WOM-2MON'):
    weeks.append(pd.date_range(start_date, periods= 7))

In [66]:
weeks

[DatetimeIndex(['2021-06-14', '2021-06-15', '2021-06-16', '2021-06-17',
                '2021-06-18', '2021-06-19', '2021-06-20'],
               dtype='datetime64[ns]', freq='D'),
 DatetimeIndex(['2021-07-12', '2021-07-13', '2021-07-14', '2021-07-15',
                '2021-07-16', '2021-07-17', '2021-07-18'],
               dtype='datetime64[ns]', freq='D'),
 DatetimeIndex(['2021-08-09', '2021-08-10', '2021-08-11', '2021-08-12',
                '2021-08-13', '2021-08-14', '2021-08-15'],
               dtype='datetime64[ns]', freq='D'),
 DatetimeIndex(['2021-09-13', '2021-09-14', '2021-09-15', '2021-09-16',
                '2021-09-17', '2021-09-18', '2021-09-19'],
               dtype='datetime64[ns]', freq='D'),
 DatetimeIndex(['2021-10-11', '2021-10-12', '2021-10-13', '2021-10-14',
                '2021-10-15', '2021-10-16', '2021-10-17'],
               dtype='datetime64[ns]', freq='D')]

This was easy. The reason why I need to do some manual stuff is that, the FREQ gives the single date after a frequency. So to get a chunk - we need to do this kind of operation.

#

## → Shift in time

It is pushing time forward or backwards.

> Both ***DataFrame*** and ***Series*** have the `shift` method for doing native shifts *leaving index unchanged*.

#### Quick Note :
`.shift` is a GENERAL method - which need not to have TIMEINDEX. It just shifts data. <br>
There is another `.tshift` method for doing the time stuff.

In [100]:
ser = pd.Series(np.random.randint(0, 100, 5))
ser

0    67
1     1
2    68
3    10
4    50
dtype: int32

In [101]:
ser.shift(3)

0     NaN
1     NaN
2     NaN
3    67.0
4     1.0
dtype: float64

Proof ↑

Now, it introduces the NaN - to avoid that

In [102]:
ser.shift(3, fill_value= 0)

0     0
1     0
2     0
3    67
4     1
dtype: int32

#

`.shift` is very useful function. The major use of this is in **Percent changes in timeseries data**

#### Example

In [104]:
ser = pd.Series(np.random.randn(5), index= pd.date_range('25/4/2021', periods= 5))
ser

2021-04-25    0.015519
2021-04-26    1.234282
2021-04-27   -1.372670
2021-04-28    1.996943
2021-04-29    1.197316
Freq: D, dtype: float64

In [105]:
ser / ser.shift(1) - 1

2021-04-25          NaN
2021-04-26    78.532424
2021-04-27    -2.112121
2021-04-28    -2.454787
2021-04-29    -0.400426
Freq: D, dtype: float64

#

### Only if you know
that you have the DateTimeINDEX, then you can do like...

In [108]:
# This is main      ↓
ser.shift(2, freq= 'D')

2021-04-27    0.015519
2021-04-28    1.234282
2021-04-29   -1.372670
2021-04-30    1.996943
2021-05-01    1.197316
Freq: D, dtype: float64

Again, **ONLY IF YOU KNOW** the datetime index is there.

#

### → Works with `datetime` obj

In [110]:
from datetime import datetime

In [115]:
date = datetime(2021, 4, 25)
date

datetime.datetime(2021, 4, 25, 0, 0)

In [118]:
date + Day(5)

Timestamp('2021-04-30 00:00:00')

↑ See?

In [120]:
# Also supports subtraction
date - Day(5)

Timestamp('2021-04-20 00:00:00')

Now, in pandas these operations are referred as `rollforward` and `rollback` respectively. BUT only for the ***Anchored Offsets***.

**Anchored Offsets**: <br>
The offsets which are related with some kind of constraints, are called Anchored Offsets. Like End of Month, Begin of month, Business day, Businedd month...

In [135]:
date + pd.tseries.offsets.BDay()

Timestamp('2021-04-26 00:00:00')

In [137]:
# That can be rewritten as
offset = pd.tseries.offsets.BDay()
offset.rollforward(date)

Timestamp('2021-04-26 00:00:00')

#

## Use - AMAZING.

It is called: Creative use of these offset.

In [138]:
ser = pd.Series(np.random.randn(20), index= pd.date_range('25/4/2021', periods= 20, freq= '5d'))
ser

2021-04-25   -0.562822
2021-04-30   -2.424761
2021-05-05    1.786949
2021-05-10    1.695429
2021-05-15   -0.617631
2021-05-20   -1.017100
2021-05-25   -0.438240
2021-05-30    1.357136
2021-06-04   -1.421097
2021-06-09    0.202060
2021-06-14    1.629681
2021-06-19   -0.109626
2021-06-24   -0.218919
2021-06-29   -0.717040
2021-07-04   -0.123729
2021-07-09   -0.027174
2021-07-14    0.000458
2021-07-19    1.776739
2021-07-24    1.825000
2021-07-29    0.248584
Freq: 5D, dtype: float64

# NOTE THIS EXAMPLE ↓

Now, you see there are the dates but what if I want to find the MEAN amount per month?

# WILL BE SO USEFUL ↑

To find the mean amount, I am tempted to go for creating a NEW col and then group by that... THAT IS BAD.

#

### *#WRONG way*

In [140]:
ser_df = pd.DataFrame({"data": ser})
ser_df

                data
2021-04-25 -0.562822
2021-04-30 -2.424761
2021-05-05  1.786949
2021-05-10  1.695429
2021-05-15 -0.617631
2021-05-20 -1.017100
2021-05-25 -0.438240
2021-05-30  1.357136
2021-06-04 -1.421097
2021-06-09  0.202060
2021-06-14  1.629681
2021-06-19 -0.109626
2021-06-24 -0.218919
2021-06-29 -0.717040
2021-07-04 -0.123729
2021-07-09 -0.027174
2021-07-14  0.000458
2021-07-19  1.776739
2021-07-24  1.825000
2021-07-29  0.248584

In [143]:
ser_df['month'] = ser_df.index.month
ser_df.groupby('month').mean()

           data
month
4     -1.493792
5      0.461090
6     -0.105823
7      0.616646

Works but, **Why not to use amazing functionality that pandas provides !**

Let's use - **“4.”** from the ways of group by.

#

### *#RIGHT way*

In [158]:
offset = pd.tseries.offsets.MonthEnd()

In [159]:
ser.groupby(offset.rollforward).mean()

2021-04-30   -1.493792
2021-05-31    0.461090
2021-06-30   -0.105823
2021-07-31    0.616646
dtype: float64

Hai na easy!

Same way, we can get the sense of

In [176]:
ser.groupby(lambda x: x.dayofweek).mean()

0    1.700617
1   -0.577640
2    0.663156
3   -0.329145
4   -1.291011
5    0.365914
6    0.223528
dtype: float64

## Wai, Wai, Wai... you told me before that
> For time series data - `resample` is the `groupby`. 

Then, why have we used groupby here?

#### Answer:
You are right, there is resample - but just to demonstrate the workaround, I have demonstrated here, because `resample` deserves its own seperate notebook.

#

# <center> | Honorable Mention | </center>

<center> <i> There is an alternative of importing offset and doing stuff </i> </center>

In [1]:
import pandas as pd

In [2]:
# This is what we were doing - if we had a timestamp and wanted to add / remove time.
time = pd.Timestamp('25/4/2021 12:00')
time

Timestamp('2021-04-25 12:00:00')

Now, if you wanted to add 5 hours or 5 days or whatever, we would do...

#### #OldWay

In [3]:
from pandas.tseries.offsets import Day, Minute, Hour
# haha this has now ↑ became old!

In [4]:
time + Day(5)

Timestamp('2021-04-30 12:00:00')

In [5]:
time + Hour(5)

Timestamp('2021-04-25 17:00:00')

#

### #Honorable_Mention_Way

In [6]:
from pandas.tseries.frequencies import to_offset
# Look                  ↑

In [7]:
time + to_offset('5H')

Timestamp('2021-04-25 17:00:00')

In [8]:
time + to_offset('5D')

Timestamp('2021-04-30 12:00:00')

In [9]:
time + to_offset('5D5H')

Timestamp('2021-04-30 17:00:00')

#### How easy! And in single import!

#

#

# That's it!
I know there is not all about the offset here, but still it is sufficient to know this much about the offset and its working.

Note that, there is also all other classes like Business Day, Month and all ready to be explored in pandas.tseries.offsets.
___

Nextup, we will learn about the TIME PERIODS. That is about... well, let's unwrap that secret in the next notebook.<br>
Stay Curious Data Analyst!