#

<font size= 6> 

    |<----------------- Period ------------------>|
    ↑                                             ↑
    Timestamp                             Timestamp
</font>

#

> # "Periods represent timespans like days, months, weeks, years."

#

Let's start from the scratch.

In [2]:
import pandas as pd
import numpy as np

#

Pandas provides a class for periods - to create a period. <br>
_ <br>
Period class requires <u>2 things</u>.
1. **When (String / Integer)**
2. **How (Freq)**

In [4]:
# Simple example - NaT as nothing provided
pd.Period()

NaT

In [8]:
# When not giving `freq` it takes "whole year" by default
pd.Period(2021)

Period('2021', 'A-DEC')

In [26]:
# See also ↓ String
pd.Period('2021')

Period('2021', 'A-DEC')

*Note that, there is A-DEC: Where `A` means END OF YEAR. And `AS` means START OF YEAR*

In [30]:
# And DEC means that the year ends on DEC - giving FEB acts accordingly
pd.date_range('1/1/2021', periods= 5, freq= 'A-FEB')

DatetimeIndex(['2021-02-28', '2022-02-28', '2023-02-28', '2024-02-29',
               '2025-02-28'],
              dtype='datetime64[ns]', freq='A-FEB')

In [31]:
# Same with AS
pd.date_range('1/1/2021', periods= 5, freq= 'AS-FEB')

DatetimeIndex(['2021-02-01', '2022-02-01', '2023-02-01', '2024-02-01',
               '2025-02-01'],
              dtype='datetime64[ns]', freq='AS-FEB')

#### But giving 'DEC' in this case is *completely optional*.
You can just give 'A' - which means the same.

In [39]:
# See - 'A-DEC' == 'A'
pd.date_range('1/1/2021', periods= 5, freq= 'A') == pd.date_range('1/1/2021', periods= 5, freq= 'A-DEC')

array([ True,  True,  True,  True,  True])

Continuing...

#

In [41]:
pd.Period('2021', freq= 'A')

Period('2021', 'A-DEC')

↑ In here, it creates the period od `1/1/2021` to `31/12/2021`. <br>
If you want to create a period like... See this ↓

In [45]:
pd.Period('25/4/2021', freq= 'A')

Period('2021', 'A-DEC')

Well, that **didn't work!** <br>
_ <br>
# No, stop - THAT WORKED.
*It is just not showing in the date format*

#

Here's the proof ↓

In [52]:
# Look with simple 2021 and freq 'A-FEB'
pd.Period('2021', freq= 'A-FEB')

Period('2021', 'A-FEB')

Working? That means it is from 1/1/21 to 28/2/21

######

In [53]:
# Now trying with...
pd.Period('25/4/2021', freq= 'A-FEB')

Period('2022', 'A-FEB')

See &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ↑ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;it turned to 2022 from 2021.<br> That means as the date (25/4) is ahead from A-FEB ie. 28/2, it automatically taken into an account and done its job.

######

In [55]:
# Now trying with... APR
pd.Period('25/4/2021', freq= 'A-APR')

Period('2021', 'A-APR')

But `APR` worked! As the date 25/4 is behind A-APR ie. 30/4

#### Conclusion: *The date is working.*

#

## → Operations on Periods

In [57]:
# Making it simple for first
pd.Period('2021') + 5

Period('2026', 'A-DEC')

↑ See? Simply adds `BASED ON THE FREQ`

In [60]:
pd.Period('2021') - 5

Period('2016', 'A-DEC')

#

In [63]:
# Same, but again the date is counted.
pd.Period('25/4/2021', freq= 'A') - 5

Period('2016', 'A-DEC')

Though it doesn't show the date, but that is counted in it.

#

##### How the operations are related with the FREQ?

In [64]:
pd.Period('25/4/2021', freq= 'D') - 5

Period('2021-04-20', 'D')

In [65]:
pd.Period('25/4/2021', freq= 'D') + 5

Period('2021-04-30', 'D')

Haha see?

#

## → What happens if I add / subtract Period `with` Period

Subtraction

In [68]:
pd.Period(2021) - pd.Period(2021)

Addition

In [71]:
pd.Period(2021) + pd.Period(2021)

TypeError: unsupported operand type(s) for +: 'Period' and 'Period'

Whoops, looks like it is not supported.

In [74]:
# Changing the period time
pd.Period(2021) - pd.Period(2025)

<-4 * YearEnds: month=12>

In [75]:
# Changing the period time
pd.Period(2021) + pd.Period(2025)

TypeError: unsupported operand type(s) for +: 'Period' and 'Period'

Aah, so: '+' is not supported. Alright.

#

**NOTE:** The operation is ONLY POSSIBLE when the frequencies are same - otherwise an error.

In [79]:
# Different freqs
pd.Period(2025) - pd.Period('25/4/2021')

IncompatibleFrequency: Input has different freq=D from Period(freq=A-DEC)

#

#### Now, wondering? How to create a period from **Desired Date** till **Desired Date**?
We can do that conventionally with the `pd.period_range`. But it itself, uses the `pd.Period` to create the periods.
___
Now, let's try out how with Period class itself, we can create the custom dated period.

In [101]:
# From date to date
# From 25/4 to 27/5 (3 days inclusive)
pd.Period('25/4/2021')

Period('2021-04-25', 'D')

This will create the single period of a day. So we need to run for 3 times. To get the whole chunk.

In [102]:
[pd.Period('25/4/2021'), pd.Period('26/4/2021'), pd.Period('27/4/2021')]

[Period('2021-04-25', 'D'),
 Period('2021-04-26', 'D'),
 Period('2021-04-27', 'D')]

Done! Yeah!

#

In [104]:
# From month to month
# From 25/4 to 25/6 (3 months)
pd.Period('25/4/2021', freq= 'M')

Period('2021-04', 'M')

OR

In [106]:
pd.Period('4/2021')

Period('2021-04', 'M')

OR

In [107]:
pd.Period('2021-04')

Period('2021-04', 'M')

Notice in the las 2 examples we need not to give the freq = 'M' the pattern made it think that we are giving the month as the Period.

In [108]:
# Now making the Periods
[pd.Period('2021-04'), pd.Period('2021-05'), pd.Period('2021-06')]

[Period('2021-04', 'M'), Period('2021-05', 'M'), Period('2021-06', 'M')]

Done!

And also you can start the month from **Desired date** and it will still show the month, not that date. See like ↓

In [110]:
pd.Period('25/4/2021', freq= 'M')

Period('2021-04', 'M')

#

## Now,
As you have noticed, we need to provide them manually or if you are smart we need to write a loop to do the stuff.
<br> Pandas solves it by `period_range`

Which has a signature: <br>
```python 
pd.period_range(start=None, end=None, periods=None, freq=None, name=None)
```

#

In [86]:
          # Now while writing ↓
pd.period_range('25/4/2021', '15/6/2021')

PeriodIndex(['2021-04-25', '2021-04-26', '2021-04-27', '2021-04-28',
             '2021-04-29', '2021-04-30', '2021-05-01', '2021-05-02',
             '2021-05-03', '2021-05-04', '2021-05-05', '2021-05-06',
             '2021-05-07', '2021-05-08', '2021-05-09', '2021-05-10',
             '2021-05-11', '2021-05-12', '2021-05-13', '2021-05-14',
             '2021-05-15', '2021-05-16', '2021-05-17', '2021-05-18',
             '2021-05-19', '2021-05-20', '2021-05-21', '2021-05-22',
             '2021-05-23', '2021-05-24', '2021-05-25', '2021-05-26',
             '2021-05-27', '2021-05-28', '2021-05-29', '2021-05-30',
             '2021-05-31', '2021-06-01', '2021-06-02', '2021-06-03',
             '2021-06-04', '2021-06-05', '2021-06-06', '2021-06-07',
             '2021-06-08', '2021-06-09', '2021-06-10', '2021-06-11',
             '2021-06-12', '2021-06-13', '2021-06-14', '2021-06-15'],
            dtype='period[D]', freq='D')

Default, as usual - freq is 'D'

Also 'D' when you provide just YEAR ↓

In [89]:
pd.period_range('2021', '2022')

PeriodIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
             '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
             '2021-01-09', '2021-01-10',
             ...
             '2021-12-23', '2021-12-24', '2021-12-25', '2021-12-26',
             '2021-12-27', '2021-12-28', '2021-12-29', '2021-12-30',
             '2021-12-31', '2022-01-01'],
            dtype='period[D]', length=366, freq='D')

#

In [98]:
pd.period_range('25/4/2021', '27/4/2021')

PeriodIndex(['2021-04-25', '2021-04-26', '2021-04-27'], dtype='period[D]', freq='D')

In [90]:
# Providing month as freq
pd.period_range('25/4/2021', '15/6/2021', freq= 'M')

PeriodIndex(['2021-04', '2021-05', '2021-06'], dtype='period[M]', freq='M')

In [91]:
per = pd.period_range('25/4/2021', '15/6/2021', freq= 'M')
per[0]

Period('2021-04', 'M')

In [94]:
pd.Period('25/4/2021', freq= 'M')

Period('2021-04', 'M')

See? ↑ This uses the Period class like that.

#

## Now some use of the periods

In [112]:
pd.Series(np.random.randn(5), index= pd.period_range('25/4/2021', '15/8/2021', freq= 'M'))

2021-04   -1.096042
2021-05    0.522531
2021-06   -0.054467
2021-07   -0.325263
2021-08    0.716223
Freq: M, dtype: float64

Now, this ↑ shows that a month of 4 (april) 2021 has value -1.09 and likewise.

#

## → Quarterly freqs - in period range

*First need to understand the difference between `Q-DEC` and `Q-JAN` and just `Q`*

In [122]:
pd.date_range('1/1/2021', periods= 5, freq= 'Q')

DatetimeIndex(['2021-03-31', '2021-06-30', '2021-09-30', '2021-12-31',
               '2022-03-31'],
              dtype='datetime64[ns]', freq='Q-DEC')

In [123]:
pd.date_range('1/1/2021', periods= 5, freq= 'Q-JAN')

DatetimeIndex(['2021-01-31', '2021-04-30', '2021-07-31', '2021-10-31',
               '2022-01-31'],
              dtype='datetime64[ns]', freq='Q-JAN')

In [124]:
pd.date_range('1/1/2021', periods= 5, freq= 'Q-DEC')

DatetimeIndex(['2021-03-31', '2021-06-30', '2021-09-30', '2021-12-31',
               '2022-03-31'],
              dtype='datetime64[ns]', freq='Q-DEC')

It turnes out that - `Q` and `Q-DEC` **are same**. <br>
While `Q-JAN` makes difference.

#### And looking at the data, generated with Q-JAN is non applicable in the real world.

See, it starts from month 1st and ends in month 10th. Not every months are covered.

#

# Don't get overwhelmed.
Hit pause... and

<font face= 'product sans' style= "font-size:150px; line-height:1.0;"> TAKE <br>
    A DEEP <br>
BREATH</font>

#

Done?

Now, the thing is till now... we have seen the types of periods in: <br>

&nbsp; &nbsp; &nbsp; &nbsp;Type &nbsp; &nbsp; &nbsp; &nbsp; Represented as <br>
&nbsp; &nbsp; &nbsp; &nbsp;------ &nbsp; &nbsp; &nbsp; &nbsp; ----------------
* Day → &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; '25/4/2021'
* Month → &nbsp; '2021-04'
* Year → &nbsp; &nbsp; &nbsp;&nbsp;'2021'

#### Now comes the **Quarter**.

* Quarter → &nbsp; &nbsp;'2021Q2'

#

In [126]:
# Simply creating a quarter - Period Class
pd.Period('2021Q1')

Period('2021Q1', 'Q-DEC')

And as expected ↑ it will start from the DEC.

In [134]:
# Creating with period_range
pd.period_range('1/1/2021', '31/12/2021', freq= "Q-DEC")

PeriodIndex(['2021Q1', '2021Q2', '2021Q3', '2021Q4'], dtype='period[Q-DEC]', freq='Q-DEC')

NOICE! <br>
**Interpretation**: 
- **2021Q1** - 1/1/2021 to 31/3/2021
- **2021Q2** - 1/4/2021 to 30/6/2021
- **2021Q3** - 1/7/2021 to 30/9/2021
- **2021Q4** - 1/10/2021 to 31/12/2021

In [135]:
# Creating the ... well read the note ↓

## Introducing... `PeriodIndex` !

It is the index, it won't generate the data. So we need to pass the data in it.

In [137]:
pd.PeriodIndex(['2021Q1', '2021Q2', '2021Q3', '2021Q4'])

ValueError: freq not specified and cannot be inferred

Now, need to speify the FREQ ↑

In [138]:
pd.PeriodIndex(['2021Q1', '2021Q2', '2021Q3', '2021Q4'], freq= 'Q')

PeriodIndex(['2021Q1', '2021Q2', '2021Q3', '2021Q4'], dtype='period[Q-DEC]', freq='Q-DEC')

DONE!

#

#

#

# That has been a lot, Isn't it?

Let's go Aayush, we have a lot to cover!

#

## → Period Frequency Conversion

Fairly simple with `.asfreq()`

In [171]:
per = pd.Period(2021)
per

Period('2021', 'A-DEC')

Sh**it! Now I need to change the freq of that. How...

In [158]:
per.asfreq('M')

Period('2021-12', 'M')

Wait, not that - need to START...

In [159]:
per.asfreq('M', how= 'start')

Period('2021-01', 'M')

DONE!

#

## → Converting ***`timestamp ↔ period`***

In [192]:
pd.Timestamp('25/4/2021').to_period()

ValueError: Must supply freq for datetime value

So, `to_period()` requires the freq so that it can know what to do.

In [193]:
# General, date
pd.Timestamp('25/4/2021', freq= 'D').to_period()

Period('2021-04-25', 'D')

In [194]:
# General, month
pd.Timestamp('25/4/2021', freq= 'M').to_period()

Period('2021-04', 'M')

In [198]:
# Also accepts the freq argument in itself
pd.Timestamp('25/4/2021').to_period(freq= 'D')

Period('2021-04-25', 'D')

##

#### Some real example

In [200]:
index = pd.date_range('25/4/2021', periods= 6, freq= 'M')
index

DatetimeIndex(['2021-04-30', '2021-05-31', '2021-06-30', '2021-07-31',
               '2021-08-31', '2021-09-30'],
              dtype='datetime64[ns]', freq='M')

In [202]:
ser = pd.Series(np.random.randn(6), index= index)
ser

2021-04-30   -0.306003
2021-05-31   -1.721901
2021-06-30   -0.904485
2021-07-31    0.180520
2021-08-31    0.277950
2021-09-30    1.400439
Freq: M, dtype: float64

See, now we are gonna convert them into the freaks.

In [208]:
ser = ser.to_period()
ser

2021-04   -0.306003
2021-05   -1.721901
2021-06   -0.904485
2021-07    0.180520
2021-08    0.277950
2021-09    1.400439
Freq: M, dtype: float64

In [215]:
ser.index[0].day

30

#

# #WONDERING?
Okay Aayush, there were different months, that's why it has done its job to convert the time stamps into periods. But what if there was the same month?

Okay, let's try that.

In [216]:
# Look - the freq is D
index = pd.date_range('25/4/2021', periods= 6, freq= 'D')
index

DatetimeIndex(['2021-04-25', '2021-04-26', '2021-04-27', '2021-04-28',
               '2021-04-29', '2021-04-30'],
              dtype='datetime64[ns]', freq='D')

In [217]:
ser = pd.Series(np.random.randn(6), index= index)
ser

2021-04-25    0.290755
2021-04-26    0.162119
2021-04-27   -0.138134
2021-04-28   -1.943930
2021-04-29   -0.470367
2021-04-30   -0.389206
Freq: D, dtype: float64

In [220]:
ser = ser.to_period(freq= 'M')
ser

2021-04    0.290755
2021-04    0.162119
2021-04   -0.138134
2021-04   -1.943930
2021-04   -0.470367
2021-04   -0.389206
Freq: M, dtype: float64

WOOF! What now?

In [221]:
ser.index

PeriodIndex(['2021-04', '2021-04', '2021-04', '2021-04', '2021-04', '2021-04'], dtype='period[M]', freq='M')

In [228]:
aa, bb = ser.index[0], ser.index[1]

In [238]:
what = 'day'
(eval(f'aa.{what}'), eval(f'bb.{what}'))

(30, 30)

Oh! Both of them are not having the seperate data - now how will we reconvert them?

In [239]:
ser.to_timestamp()

2021-04-01    0.290755
2021-04-01    0.162119
2021-04-01   -0.138134
2021-04-01   -1.943930
2021-04-01   -0.470367
2021-04-01   -0.389206
dtype: float64

So... of course the data is lost.

In summary in this section - we have learnt
1. **to_period()**
2. **to_timestamp()**

#

# #Real Example

*This example illustrates "how our period functions can make the life easier while dealing with the dataset with time"*

In [241]:
df = pd.read_csv("https://raw.githubusercontent.com/statsmodels/statsmodels/main/statsmodels/datasets/macrodata/macrodata.csv")
df

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
0,1959,1,2710.349,1707.4,286.898,470.045,1886.9,28.980,139.7,2.82,5.8,177.146,0.00,0.00
1,1959,2,2778.801,1733.7,310.859,481.301,1919.7,29.150,141.7,3.08,5.1,177.830,2.34,0.74
2,1959,3,2775.488,1751.8,289.226,491.260,1916.4,29.350,140.5,3.82,5.3,178.657,2.74,1.09
3,1959,4,2785.204,1753.7,299.356,484.052,1931.3,29.370,140.0,4.33,5.6,179.386,0.27,4.06
4,1960,1,2847.699,1770.5,331.722,462.199,1955.5,29.540,139.6,3.50,5.2,180.007,2.31,1.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,2008,3,13324.600,9267.7,1990.693,991.551,9838.3,216.889,1474.7,1.17,6.0,305.270,-3.16,4.33
199,2008,4,13141.920,9195.3,1857.661,1007.273,9920.4,212.174,1576.5,0.12,6.9,305.952,-8.79,8.91
200,2009,1,12925.410,9209.2,1558.494,996.287,9926.4,212.671,1592.8,0.22,8.1,306.547,0.94,-0.71
201,2009,2,12901.504,9189.0,1456.678,1023.528,10077.5,214.469,1653.6,0.18,9.2,307.226,3.37,-3.19
202,2009,3,12990.341,9256.0,1486.398,1044.088,10040.6,216.385,1673.9,0.12,9.6,308.013,3.56,-3.44

Now here, as you can see - Year and quarter values are in different fields. So ...

Step 1: Make Index (Why? Because we are ***not generating*** periods - we are converting from existing data) <br>
Step 2: Done! Step 1 does the job for you.

**It is done in the single step because PeriodIndex has the following signature:**
```python
pd.PeriodIndex(
    data=None,
    ordinal=None,
    freq=None,
    tz=None,
    dtype=None,
    copy=False,
    name=None,
    **fields,
)
```

In which - Year, Quarter are one of its acceptable attrs.

In [246]:
pd.PeriodIndex(year= df.year, quarter= df.quarter, freq= 'Q')

PeriodIndex(['1959Q1', '1959Q2', '1959Q3', '1959Q4', '1960Q1', '1960Q2',
             '1960Q3', '1960Q4', '1961Q1', '1961Q2',
             ...
             '2007Q2', '2007Q3', '2007Q4', '2008Q1', '2008Q2', '2008Q3',
             '2008Q4', '2009Q1', '2009Q2', '2009Q3'],
            dtype='period[Q-DEC]', length=203, freq='Q-DEC')

How? Let's have a little cross check.

In [244]:
df

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
0,1959,1,2710.349,1707.4,286.898,470.045,1886.9,28.980,139.7,2.82,5.8,177.146,0.00,0.00
1,1959,2,2778.801,1733.7,310.859,481.301,1919.7,29.150,141.7,3.08,5.1,177.830,2.34,0.74
2,1959,3,2775.488,1751.8,289.226,491.260,1916.4,29.350,140.5,3.82,5.3,178.657,2.74,1.09
3,1959,4,2785.204,1753.7,299.356,484.052,1931.3,29.370,140.0,4.33,5.6,179.386,0.27,4.06
4,1960,1,2847.699,1770.5,331.722,462.199,1955.5,29.540,139.6,3.50,5.2,180.007,2.31,1.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,2008,3,13324.600,9267.7,1990.693,991.551,9838.3,216.889,1474.7,1.17,6.0,305.270,-3.16,4.33
199,2008,4,13141.920,9195.3,1857.661,1007.273,9920.4,212.174,1576.5,0.12,6.9,305.952,-8.79,8.91
200,2009,1,12925.410,9209.2,1558.494,996.287,9926.4,212.671,1592.8,0.22,8.1,306.547,0.94,-0.71
201,2009,2,12901.504,9189.0,1456.678,1023.528,10077.5,214.469,1653.6,0.18,9.2,307.226,3.37,-3.19
202,2009,3,12990.341,9256.0,1486.398,1044.088,10040.6,216.385,1673.9,0.12,9.6,308.013,3.56,-3.44

It does!

In [247]:
# So
df.index = pd.PeriodIndex(year= df.year, quarter= df.quarter, freq= 'Q')
df

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
1959Q1,1959,1,2710.349,1707.4,286.898,470.045,1886.9,28.980,139.7,2.82,5.8,177.146,0.00,0.00
1959Q2,1959,2,2778.801,1733.7,310.859,481.301,1919.7,29.150,141.7,3.08,5.1,177.830,2.34,0.74
1959Q3,1959,3,2775.488,1751.8,289.226,491.260,1916.4,29.350,140.5,3.82,5.3,178.657,2.74,1.09
1959Q4,1959,4,2785.204,1753.7,299.356,484.052,1931.3,29.370,140.0,4.33,5.6,179.386,0.27,4.06
1960Q1,1960,1,2847.699,1770.5,331.722,462.199,1955.5,29.540,139.6,3.50,5.2,180.007,2.31,1.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2008Q3,2008,3,13324.600,9267.7,1990.693,991.551,9838.3,216.889,1474.7,1.17,6.0,305.270,-3.16,4.33
2008Q4,2008,4,13141.920,9195.3,1857.661,1007.273,9920.4,212.174,1576.5,0.12,6.9,305.952,-8.79,8.91
2009Q1,2009,1,12925.410,9209.2,1558.494,996.287,9926.4,212.671,1592.8,0.22,8.1,306.547,0.94,-0.71
2009Q2,2009,2,12901.504,9189.0,1456.678,1023.528,10077.5,214.469,1653.6,0.18,9.2,307.226,3.37,-3.19
2009Q3,2009,3,12990.341,9256.0,1486.398,1044.088,10040.6,216.385,1673.9,0.12,9.6,308.013,3.56,-3.44

#

# Looks like... That's it!
Get eager now. <br>
I REPEAT <br>
**GET EAGER NOW** <br>
<br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> 
*resampling.*