## <center> <font face= 'consolas' style= 'font-size:500px' color= 'grey'> NaN
   </font> </center> <br> 
    <center> <font face= "consolas" color= 'grey'> M &nbsp; a &nbsp; k &nbsp; i &nbsp; n &nbsp; g &nbsp; NaN &nbsp; F &nbsp; r &nbsp; i &nbsp; e &nbsp; n &nbsp; d </font> </center>

#

Hey! Don't freak out! This whole notebook if just dedicated for NaN - or missing values. 

**Let's go.**

#

In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

There the simple stuff is going one in the start like... introduction to...
* dropna()
* isna()
* isnull()
* notnull()

So I don't have to demonstrate them here.

#

## → A strange thing - new for me found in `dropna`

In [52]:
data = np.random.randn(5,5).round(1)
data

array([[-0.5, -0.5,  0.3,  2.1,  0.9],
       [ 0.9,  1.8,  0.2, -0.3, -0.9],
       [ 1. , -0.1,  0.8,  1.5,  0.3],
       [-0.4,  0.5,  0.1, -0.5, -1.1],
       [-0.3,  1.9,  0.1,  0.3, -0.3]])

In [53]:
data[0, 1] = data[1, 1:3] = data[2, 1:4] = np.nan
data

array([[-0.5,  nan,  0.3,  2.1,  0.9],
       [ 0.9,  nan,  nan, -0.3, -0.9],
       [ 1. ,  nan,  nan,  nan,  0.3],
       [-0.4,  0.5,  0.1, -0.5, -1.1],
       [-0.3,  1.9,  0.1,  0.3, -0.3]])

In [54]:
df = DataFrame(data)

In [67]:
df.dropna(thresh= 3)

     0    1    2    3    4
0 -0.5  NaN  0.3  2.1  0.9
1  0.9  NaN  NaN -0.3 -0.9
3 -0.4  0.5  0.1 -0.5 -1.1
4 -0.3  1.9  0.1  0.3 -0.3

NEW! Thing!!!  <br>
Update your knowledge now...  
Update your knowledge now...
```python
df.dropna(thresh= 5)
```
There '5' is not for the NA but it is for the **REAL VALUES**.
___
The thing is, when you write `thresh= 3`, pandas will check for those rows where there are atleast 3 REAL VALUES, if not - that means simply there are more NA in that row!

So it will then drop that row.

It you will be surprised to see this. And this will be a proof too!

In [68]:
# Here in the 3rd and 4th index are not having any NA right?
df

     0    1    2    3    4
0 -0.5  NaN  0.3  2.1  0.9
1  0.9  NaN  NaN -0.3 -0.9
2  1.0  NaN  NaN  NaN  0.3
3 -0.4  0.5  0.1 -0.5 -1.1
4 -0.3  1.9  0.1  0.3 -0.3

In [71]:
# Then doing this ↓ will remove them too!
df.dropna(thresh= 6)

Empty DataFrame
Columns: [0, 1, 2, 3, 4]
Index: []

See ↑ that, it proves that the thresh is for AT LEAST - NON NA values.

#

# That's it for filling missing values!
I mean really! There is nothing more than this to it.  
Next up, we will discuss the data transformation.