<center> <font face="consolas" style= "font-size:150px"> Transform </font> </center>
<center> <font face= 'consolas' size= 6> Yourself </center>

In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

#

## → How `drop_duplicates` and `duplicated` are related

In [8]:
df = pd.DataFrame({"col1": [1,2,3,4,1,3], 
              "col2": [1,3,2,4,1,2]})
df

   col1  col2
0     1     1
1     2     3
2     3     2
3     4     4
4     1     1
5     3     2

In [9]:
# What`.duplicated` returns
df.duplicated()

0    False
1    False
2    False
3    False
4     True
5     True
dtype: bool

In [10]:
# What `.drop_duplicated` does
df.drop_duplicates()

   col1  col2
0     1     1
1     2     3
2     3     2
3     4     4

In [12]:
# That justs shows the result where `.duplicated` returned False
df[~df.duplicated()]

   col1  col2
0     1     1
1     2     3
2     3     2
3     4     4

Same!

#

## → Look, let's do `cut`

The **cut** is so underrated and underused feature in pandas... (I do use... but without much knowledge) but here we will dive a bit deeper in what it is.

In [31]:
df = DataFrame({"Student": list('abcdefghigklmnopqrstuvwxyz'),
          "Age": np.random.randint(0, 50, 26)})

df

   Student  Age
0        a    6
1        b    1
2        c    8
3        d   13
4        e   39
5        f   17
6        g   30
7        h    2
8        i   48
9        g   12
10       k   46
11       l   22
12       m   34
13       n   19
14       o   34
15       p   30
16       q   32
17       r   36
18       s    2
19       t   31
20       u   18
21       v    8
22       w   45
23       x   45
24       y   27
25       z   21

**How do I use it till now**

In [34]:
pd.cut(df.Age, 5)

0     (0.953, 10.4]
1     (0.953, 10.4]
2     (0.953, 10.4]
3      (10.4, 19.8]
4      (38.6, 48.0]
5      (10.4, 19.8]
6      (29.2, 38.6]
7     (0.953, 10.4]
8      (38.6, 48.0]
9      (10.4, 19.8]
10     (38.6, 48.0]
11     (19.8, 29.2]
12     (29.2, 38.6]
13     (10.4, 19.8]
14     (29.2, 38.6]
15     (29.2, 38.6]
16     (29.2, 38.6]
17     (29.2, 38.6]
18    (0.953, 10.4]
19     (29.2, 38.6]
20     (10.4, 19.8]
21    (0.953, 10.4]
22     (38.6, 48.0]
23     (38.6, 48.0]
24     (19.8, 29.2]
25     (19.8, 29.2]
Name: Age, dtype: category
Categories (5, interval[float64]): [(0.953, 10.4] < (10.4, 19.8] < (19.8, 29.2] < (29.2, 38.6] < (38.6, 48.0]]

**How it CAN be / SHOULD be used**

In [35]:
pd.cut(df.Age, [0, 10, 20, 30, 40, 50])

0      (0, 10]
1      (0, 10]
2      (0, 10]
3     (10, 20]
4     (30, 40]
5     (10, 20]
6     (20, 30]
7      (0, 10]
8     (40, 50]
9     (10, 20]
10    (40, 50]
11    (20, 30]
12    (30, 40]
13    (10, 20]
14    (30, 40]
15    (20, 30]
16    (30, 40]
17    (30, 40]
18     (0, 10]
19    (30, 40]
20    (10, 20]
21     (0, 10]
22    (40, 50]
23    (40, 50]
24    (20, 30]
25    (20, 30]
Name: Age, dtype: category
Categories (5, interval[int64]): [(0, 10] < (10, 20] < (20, 30] < (30, 40] < (40, 50]]

#### Look at that! How neat and fun!

Now some new things discovered...

    The thing that I have learnt new till now is that:
    • Using .cut with manual binnings
    • The .cut returns categorical data
    • There is .cut.code!

In [36]:
df['bins'] = pd.cut(df.Age, [0, 10, 20, 30, 40, 50])
df

   Student  Age      bins
0        a    6   (0, 10]
1        b    1   (0, 10]
2        c    8   (0, 10]
3        d   13  (10, 20]
4        e   39  (30, 40]
5        f   17  (10, 20]
6        g   30  (20, 30]
7        h    2   (0, 10]
8        i   48  (40, 50]
9        g   12  (10, 20]
10       k   46  (40, 50]
11       l   22  (20, 30]
12       m   34  (30, 40]
13       n   19  (10, 20]
14       o   34  (30, 40]
15       p   30  (20, 30]
16       q   32  (30, 40]
17       r   36  (30, 40]
18       s    2   (0, 10]
19       t   31  (30, 40]
20       u   18  (10, 20]
21       v    8   (0, 10]
22       w   45  (40, 50]
23       x   45  (40, 50]
24       y   27  (20, 30]
25       z   21  (20, 30]

#### ↑ See the difference? ↓

In [48]:
cates = pd.cut(list(df.Age), [0, 10, 20, 30, 40, 50])
cates

[(0, 10], (0, 10], (0, 10], (10, 20], (30, 40], ..., (0, 10], (40, 50], (40, 50], (20, 30], (20, 30]]
Length: 26
Categories (5, interval[int64]): [(0, 10] < (10, 20] < (20, 30] < (30, 40] < (40, 50]]

In [50]:
cates.codes

array([0, 0, 0, 1, 3, 1, 2, 0, 4, 1, 4, 2, 3, 1, 3, 2, 3, 3, 0, 3, 1, 0,
       4, 4, 2, 2], dtype=int8)

    The difference is that, see 2 uses of cut:
```python

# 1- Thing
pd.cut(df.Ages, []) # Returns a SEREIS of Categorical datatype

# 2- Thing
pd.cut(list(df.Ages, [])) # Returns a Categorical Object
```

So, this is that... there will essentially no difference when this happens... 
> When you get to work with Series object with the dtype of Category, you can use ALL methods of a Categorical object with `series.cat.<method>` as you would directly with `category.<method>` as simple as that.

This code will change the way it should perform (inclusive - exclusive kind of stuff)   
Can accept: <font face= 'consolas'> 'left', 'right', 'both', 'neither' </font>
```python
cates.categories.set_closed('neither')
```

##### The alternative to ↑
```python
pd.cut(df.Age, [], right= False)
```

#

In [75]:
# We also can provide the labels!
age_cat = ['Baby', 'Young', 'Yount-Adult', 'Adult', 'Buddha']
pd.cut(df.Age, [0, 10, 20, 30, 40, 50], labels= age_cat)

0            Baby
1            Baby
2            Baby
3           Young
4           Adult
5           Young
6     Yount-Adult
7            Baby
8          Buddha
9           Young
10         Buddha
11    Yount-Adult
12          Adult
13          Young
14          Adult
15    Yount-Adult
16          Adult
17          Adult
18           Baby
19          Adult
20          Young
21           Baby
22         Buddha
23         Buddha
24    Yount-Adult
25    Yount-Adult
Name: Age, dtype: category
Categories (5, object): ['Baby' < 'Young' < 'Yount-Adult' < 'Adult' < 'Buddha']

And yes, the **Labels must be of APPROPRIATE length.**

#

##### When you were following the *old* practice, in which ...
You give the number and it would automatically create the bins... **there was a problem** the bins would also inlude the NON INTEGERS.

Like:

In [82]:
pd.cut(df.Age, 3)[:3]

0    (0.953, 16.667]
1    (0.953, 16.667]
2    (0.953, 16.667]
Name: Age, dtype: category
Categories (3, interval[float64]): [(0.953, 16.667] < (16.667, 32.333] < (32.333, 48.0]]

##### But there is a way to handle this.

In [86]:
pd.cut(df.Age, 5, precision= 0).sample(5)

14    (29.0, 39.0]
2      (1.0, 10.0]
13    (10.0, 20.0]
24    (20.0, 29.0]
16    (29.0, 39.0]
Name: Age, dtype: category
Categories (5, interval[float64]): [(1.0, 10.0] < (10.0, 20.0] < (20.0, 29.0] < (29.0, 39.0] < (39.0, 48.0]]

##### See? The result is amaizng!
___
In summary:   
We have two methods -
* Use [] List for manual classes 
* Give a number and use `precision`

#

# Note: 
Here is a topic on `Detecting and removing Outliers` but that is a topic of its own right, I have provided a seperate small notebook for that giving proper name and the number like (2.2)

Go there and learn from there.
___
Continuing...

# Note:

There is one more thing which is note written here: That is **dealing with overlapping categories**  
Which can be easily done by:
```python
df.col.str.get_dummies("|")
```

The full version can be found [here](https://gist.github.com/AayushSameerShah/58e09fd89833f467dc462ba0807bf733)

# ONE KEY TEAKEAWAY:

When ever you want to work with INDEX / COLUMNS - use `get_indexer`.<br>
That is so, so useful.

#

# That's it!
The main parts for Data Transformation:
- **Remove Duplicates**
    - .duplicated()
    - .drop_duplicates()
- **Use .map to do mapping!**
- **Use replace to replace some value(s) to other value(s)**
    - df.replace()
- **Discretization and Binning**
    - .cut()
    - .qcut()
- **Detect and filter Outliers**
- **Dummy variables (convert)**